<html>
    <head>
        <title>Overview</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="row">
            <h1 class="cold-md-12 justify-content-center">Bluetooth</h1>
        </div>

        <a>Paired Devices:</a>
        <br>
        {% for device in devices %}
            <div class = "row">
                <a>{{ device }}</a>
            </div>
        {% endfor %}

   </body>


</html>