<html>
    <head>
        <title>Overview</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/extra.css') }}">

        <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <script>

            function init(){
                window.setInterval(loop, 400);
                pairBtn = document.getElementById("pairBtn");
                pairBtn.alt = {{ on }};
                pairBtn.src="/static/images/pair{{on}}.png";
            }

            window.onload = init;

            function pairPressed(){
                pairBtn = document.getElementById("pairBtn");
                if (pairBtn.alt === "0"){
                    window.location.href = "/bt1"
                }
                else {
                    window.location.href = "/bt"
                }

            }
        
            function loop(){
                pairBtn = document.getElementById("pairBtn");
                if (pairBtn.alt === "1") {
                    pairBtn.alt = "2"
                    pairBtn.src="/static/images/pair2.png";
                }
                else if (pairBtn.alt === "2"){
                    pairBtn.alt = "3"
                    pairBtn.src="/static/images/pair3.png";
                }
                else if (pairBtn.alt === "3"){
                    pairBtn.alt = "4"
                    pairBtn.src="/static/images/pair4.png";
                }
                else if (pairBtn.alt === "4"){
                    pairBtn.alt = "1"
                    pairBtn.src="/static/images/pair1.png";
                }
            }

        </script>

    </head>

    <body>
        <div class="container-fluid text-center">
            <h1>Bluetooth</h1>
        </div>
        <div class ="container mt-3">
            <div class="row">
                <div class="col-6">
                    <b>Devices</b>
                    <br>
                        {% for device in devices %}
                            <div class="row pl-2 pb-1">
                                <div class="col-9">
                                    <a>{{device}}</a>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-danger btn-sm"  onclick='location.href="/remove/{{device}}";'><b>X</b></button>
                                </div>
                            </div>
                        {% endfor %}
                </div>

                <div class="col-6">
                    <b>Connected Device</b>
                    <br>
                    {% for key, value in connected.items()%}
                        <div class="row pl-2">
                            <div class="col-4">
                                <b>{{key}}</b>
                            </div>
                            <div class="col-4">
                                <a>{{value}}</a>
                            </div>
                        </div>
                    {% endfor %}

                    {% if connected %}
                        <button type="button" class="btn btn-danger btn-block btn-sm"  onclick='location.href="/disconnect";'><b>Disconnect</b></button>
                    {% endif %}

                </div>

            </div>
        </div>
            <div class=pt-3>
                <div class="barrier">
            </div>
        </div>

        <div class="container">
            <div class="row center-block justify-content-center">
                
                    <input type="image" class="center-block" id="pairBtn" src="/static/images/pair0.png" onclick="pairPressed()" alt="0">

            </div>
        </div>

   </body>


</html>